<div class="container-fluid" >
    <nav class="navbar navbar-expand-sm" >
      <!-- Brand/logo -->
      <a class="navbar-brand" >
        <img src="/assets/LogoSample_ByTailorBrands (3).jpg" alt="logo" style="width:140px;">
      </a> 
      <!-- Links -->
      <ul class="navbar-nav ml-auto" style="margin-right: 300px;">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/register">
            <span class="btn5">
              <h3>تسجيل</h3>
            </span>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/admin">
            <span class="btn5">
              <h3>admin</h3>
            </span>
          </a>
        </li>
        <!-- <li class="nav-item ">
          <a class="nav-link" routerLink="/index">
            <span class="btn5">
              <h3> الصفحة الرئيسية</h3>
            </span>
          </a>
        </li> -->
        <li class="nav-item ">
          <a class="nav-link" routerLink="/login">
            <span class="btn5">
              <h3>تسجيل دخول</h3>
            </span>
          </a>
        </li>
       
      </ul>
    </nav>
  </div>