<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Vibes&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <style>
     .btn5:hover{
       background-color: darkcyan;
       color: darkcyan;
     }
    .btn5{
    
 border: none;
 color: white;
 text-align: center;
 display: inline-block;
 font-size: 16px;

    }
    .nav-link :hover
    {
      color: darkcyan;
    }
       span {
       color: rgb(8, 5, 5);
       font-family: 'Vibes' ;
       }
    </style>
</head>
<body>
    <!--Nav start-->
    <nav class="navbar navbar-expand-lg navbar-light ">
       <div class="container">
           <a class="navbar-brand" href="#">
               <span ><h3 class="l1-txt1 txt-center p-b-25">
                 ElGar LelGar-الجارللجار
             </h3></span>  
           </a>
            
       </div>
    </nav>
    <!--Nav End-->
    <!--Start Slider-->
    <div class="container-fluid" style="margin-bottom: 50px;">
      <div class="row">
        <img src="/assets/1.jfif" height="350px" width="100%">

      </div>
    </div>
    <!--End Slider-->

    <!--Start Assets-->
    <div class="container">
      <div class="row">
        <div class="col-md-3">
        

           <div style="background-color: rgb(245, 232, 206);">
           <p class="badge badge-pill badge-dark">جديد</p>
             
             <img src="/assets/main_chair.png" width="100px" height="280px"class="card-img-top" alt="...">
           </div>
           <div class="card-body text-center" >
             <h5 class="card-title">كرسي جميل باربع ارجل</h5>
             <p class="card-text">15 $</p>
            
               <!-- Button trigger modal -->
               <button style=" background-color: rgb(245, 232, 206);" type="button" class="btn btn-primary btn5" data-toggle="modal" data-target="#exampleModal">
                 التفاصيل
               </button>
               
               <!-- Modal -->
               <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                 <div class="modal-dialog" role="document">
                   <div class="modal-content ">
                     <div class="modal-header text-center">
                       <h5 class="modal-title " id="exampleModalLabel">كرسي جميل باربعه ارجل</h5>
                      
                     </div>
                     <div class="modal-body">
                       <!--Start Indx-->
                       <div class="container">
                         <div class="row" >
                           <div  style="max-width: 2000px;">
                             <div class="row no-gutters text-right">
                             
                               <div class="col-md-8">
                                 <div class="card-body">
                                   <h5 class="card-title">أيات حسام الدين </h5>
                                   <p class="card-text">هذا كرسي رائع يمكنك الجلوس عليه او الوقوف ولونه جذاب ومريح للعين اعرضه مجانا لاي حد سوف يحافظ عليه </p>
                                   <p class="card-text"><small class="text-muted">تم النشربتاريخ 20/2/2020</small></p>
                                 </div>
                               </div>
                               <div class="col-md-4" style="background-color: rgba(238, 247, 247, 0.575);">
                                 <img src="/assets/main_chair.png" class="card-img" width="100px" height="300px" alt="...">
                               </div>
                             </div>
                           </div>
                      
                       </div>

                      <!--End Indx-->
                     </div>
                     <div class="modal-footer">
                       <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
                       <button type="button" class="btn btn-primary">اطلبه الان</button>
                     </div>
                   </div>
                 </div>
               </div>
             
           </div>
         </div>
        </div>
        <div class="col-md-3">
           <div style="background-color: #e7e6ff;">
         <p class="badge badge-pill badge-dark">جديد</p>

             <img src="/assets/img-03.png" width="100px" height="280px"class="card-img-top" alt="...">
           </div>
           <div class="card-body text-center" >
             <h5 class="card-title">كرسي جميل باربع ارجل</h5>
             <p class="card-text">15 $</p>
            
               <!-- Button trigger modal -->
               <button style=" background-color: #e7e6ff;" type="button" class="btn btn-primary btn5" data-toggle="modal" data-target="#exampleModal">
                 التفاصيل
               </button>
               
               <!-- Modal -->
               <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                 <div class="modal-dialog" role="document">
                   <div class="modal-content ">
                     <div class="modal-header text-center">
                       <h5 class="modal-title " id="exampleModalLabel">كرسي جميل باربعه ارجل</h5>
                      
                     </div>
                     <div class="modal-body">
                       <!--Start Indx-->
                       <div class="container">
                         <div class="row" >
                           <div  style="max-width: 2000px;">
                             <div class="row no-gutters text-right">
                             
                               <div class="col-md-8">
                                 <div class="card-body">
                                   <h5 class="card-title">أيات حسام الدين </h5>
                                   <p class="card-text">هذا كرسي رائع يمكنك الجلوس عليه او الوقوف ولونه جذاب ومريح للعين اعرضه مجانا لاي حد سوف يحافظ عليه </p>
                                   <p class="card-text"><small class="text-muted">تم النشربتاريخ 20/2/2020</small></p>
                                 </div>
                               </div>
                               <div class="col-md-4" style="background-color: rgba(238, 247, 247, 0.575);">
                                 <img src="/assets/main_chair.png" class="card-img" width="100px" height="300px" alt="...">
                               </div>
                             </div>
                           </div>
                         </div>
                       </div>

                      <!--End Indx-->
                     </div>
                     <div class="modal-footer">
                       <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
                       <button type="button" class="btn btn-primary" (click)="addAsset()">اطلبه الان</button>
                     </div>
                   </div>
                 </div>
              
             
           </div>
         </div>
        </div>
        <div class="col-md-3">
           <div style="background-color: #d5fbca;">
         <p class="badge badge-pill badge-dark">جديد</p>

             <img src="/assets/img-01.png" width="100px" height="280px"class="card-img-top" alt="...">
           </div>
           <div class="card-body text-center" >

             <h5 class="card-title">كرسي جميل باربع ارجل</h5>
             <p class="card-text">15 $</p>
            
               <!-- Button trigger modal -->
               <button style=" background-color: #d5fbca;" type="button" class="btn btn-primary btn5" data-toggle="modal" data-target="#exampleModal">
                 التفاصيل
               </button>
               
               <!-- Modal -->
               <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                 <div class="modal-dialog" role="document">
                   <div class="modal-content ">
                     <div class="modal-header text-center">
                       <h5 class="modal-title " id="exampleModalLabel">كرسي جميل باربعه ارجل</h5>
                      
                     </div>
                     <div class="modal-body">
                       <!--Start Indx-->
                       <div class="container">
                         <div class="row" >
                           <div  style="max-width: 2000px;">
                             <div class="row no-gutters text-right">
                             
                               <div class="col-md-8">
                                 <div class="card-body">
                                   <h5 class="card-title">أيات حسام الدين </h5>
                                   <p class="card-text">هذا كرسي رائع يمكنك الجلوس عليه او الوقوف ولونه جذاب ومريح للعين اعرضه مجانا لاي حد سوف يحافظ عليه </p>
                                   <p class="card-text"><small class="text-muted">تم النشربتاريخ 20/2/2020</small></p>
                                 </div>
                               </div>
                               <div class="col-md-4" style="background-color: rgba(238, 247, 247, 0.575);">
                                 <img src="/assets/main_chair.png" class="card-img" width="100px" height="300px" alt="...">
                               </div>
                             </div>
                           </div>
                         </div>
                       </div>

                      <!--End Indx-->
                     </div>
                     <div class="modal-footer">
                       <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
                       <button type="button" class="btn btn-primary">اطلبه الان</button>
                     </div>
                   </div>
                 </div>
              
             
           </div>
         </div>
        </div>
        <div class="col-md-3">
     
           <div style="background-color: #f7cff6;">
         <p class="badge badge-pill badge-dark">جديد</p>

             <img src="/assets/img-03.png" width="100px" height="280px"class="card-img-top" alt="...">
           </div>
           <div class="card-body text-center" >
             <h5 class="card-title">كرسي جميل باربع ارجل</h5>
             <p class="card-text">15 $</p>
            
               <!-- Button trigger modal -->
               <button style=" background-color: #f7cff6;"type="button" class=" btn btn-primary btn5" data-toggle="modal" data-target="#exampleModal">
                 التفاصيل
               </button>
               
               <!-- Modal -->
               <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                 <div class="modal-dialog" role="document">
                   <div class="modal-content ">
                     <div class="modal-header text-center">
                       <h5 class="modal-title " id="exampleModalLabel">كرسي جميل باربعه ارجل</h5>
                      
                     </div>
                     <div class="modal-body">
                       <!--Start Indx-->
                       <div class="container">
                         <div class="row" >
                           <div  style="max-width: 2000px;">
                             <div class="row no-gutters text-right">
                             
                               <div class="col-md-8">
                                 <div class="card-body">
                                   <h5 class="card-title">أيات حسام الدين </h5>
                                   <p class="card-text">هذا كرسي رائع يمكنك الجلوس عليه او الوقوف ولونه جذاب ومريح للعين اعرضه مجانا لاي حد سوف يحافظ عليه </p>
                                   <p class="card-text"><small class="text-muted">تم النشربتاريخ 20/2/2020</small></p>
                                 </div>
                               </div>
                               <div class="col-md-4" style="background-color: rgba(238, 247, 247, 0.575);">
                                 <img src="/assets/main_chair.png" class="card-img" width="100px" height="300px" alt="...">
                               </div>
                             </div>
                           </div>
                         </div>
                       </div>

                      <!--End Indx-->
                     </div>
                     <div class="modal-footer">
                       <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
                       <button type="button" class="btn btn-primary">اطلبه الان</button>
                     </div>
                   </div>
                 </div>
         
             
           </div>
         </div>
        </div>
        <div class="col-md-3">
         <div class="shadow-lg p-3 mb-5 bg-white rounded" style="width: 15rem;">
           <div style="background-color: rgb(245, 232, 206);">
             <img src="/assets/main_chair.png" width="100px" height="280px"class="card-img-top" alt="...">
           </div>
           <div class="card-body text-center" >
             <h5 class="card-title">كرسي جميل باربع ارجل</h5>
             <p class="card-text">15 $</p>
            
               <!-- Button trigger modal -->
               <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                 التفاصيل
               </button>
               
               <!-- Modal -->
               <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                 <div class="modal-dialog" role="document">
                   <div class="modal-content ">
                     <div class="modal-header text-center">
                       <h5 class="modal-title " id="exampleModalLabel">كرسي جميل باربعه ارجل</h5>
                      
                     </div>
                     <div class="modal-body">
                       <!--Start Indx-->
                       <div class="container">
                         <div class="row" >
                           <div  style="max-width: 2000px;">
                             <div class="row no-gutters text-right">
                             
                               <div class="col-md-8">
                                 <div class="card-body">
                                   <h5 class="card-title">أيات حسام الدين </h5>
                                   <p class="card-text">هذا كرسي رائع يمكنك الجلوس عليه او الوقوف ولونه جذاب ومريح للعين اعرضه مجانا لاي حد سوف يحافظ عليه </p>
                                   <p class="card-text"><small class="text-muted">تم النشربتاريخ 20/2/2020</small></p>
                                 </div>
                               </div>
                               <div class="col-md-4" style="background-color: rgba(238, 247, 247, 0.575);">
                                 <img src="/assets/main_chair.png" class="card-img" width="100px" height="300px" alt="...">
                               </div>
                             </div>
                           </div>
                         </div>
                       </div>

                      <!--End Indx-->
                     </div>
                     <div class="modal-footer">
                       <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
                       <button type="button" class="btn btn-primary">اطلبه الان</button>
                     </div>
                   </div>
                 </div>
               </div>
             
           </div>
         </div>
        </div>
        <div class="col-md-3">
         <div class="shadow-lg p-3 mb-5 bg-white rounded" style="width: 15rem;">
           <div style="background-color: #e7e6ff;">
             <img src="/assets/main_chair.png" width="100px" height="280px"class="card-img-top" alt="...">
           </div>
           <div class="card-body text-center" >
             <h5 class="card-title">كرسي جميل باربع ارجل</h5>
             <p class="card-text">15 $</p>
            
               <!-- Button trigger modal -->
               <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                 التفاصيل
               </button>
               
               <!-- Modal -->
               <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                 <div class="modal-dialog" role="document">
                   <div class="modal-content ">
                     <div class="modal-header text-center">
                       <h5 class="modal-title " id="exampleModalLabel">كرسي جميل باربعه ارجل</h5>
                      
                     </div>
                     <div class="modal-body">
                       <!--Start Indx-->
                       <div class="container">
                         <div class="row" >
                           <div  style="max-width: 2000px;">
                             <div class="row no-gutters text-right">
                             
                               <div class="col-md-8">
                                 <div class="card-body">
                                   <h5 class="card-title">أيات حسام الدين </h5>
                                   <p class="card-text">هذا كرسي رائع يمكنك الجلوس عليه او الوقوف ولونه جذاب ومريح للعين اعرضه مجانا لاي حد سوف يحافظ عليه </p>
                                   <p class="card-text"><small class="text-muted">تم النشربتاريخ 20/2/2020</small></p>
                                 </div>
                               </div>
                               <div class="col-md-4" style="background-color: rgba(238, 247, 247, 0.575);">
                                 <img src="/assets/main_chair.png" class="card-img" width="100px" height="300px" alt="...">
                               </div>
                             </div>
                           </div>
                         </div>
                       </div>

                      <!--End Indx-->
                     </div>
                     <div class="modal-footer">
                       <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
                       <button type="button" class="btn btn-primary">اطلبه الان</button>
                     </div>
                   </div>
                 </div>
               </div>
             
           </div>
         </div>
        </div>
        <div class="col-md-3">
         <div class="shadow-lg p-3 mb-5 bg-white rounded" style="width: 15rem;">
           <div style="background-color: #d5fbca;">
             <img src="/assets/main_chair.png" width="100px" height="280px"class="card-img-top" alt="...">
           </div>
           <div class="card-body text-center" >
             <h5 class="card-title">كرسي جميل باربع ارجل</h5>
             <p class="card-text">15 $</p>
            
               <!-- Button trigger modal -->
               <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                 التفاصيل
               </button>
               
               <!-- Modal -->
               <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                 <div class="modal-dialog" role="document">
                   <div class="modal-content ">
                     <div class="modal-header text-center">
                       <h5 class="modal-title " id="exampleModalLabel">كرسي جميل باربعه ارجل</h5>
                      
                     </div>
                     <div class="modal-body">
                       <!--Start Indx-->
                       <div class="container">
                         <div class="row" >
                           <div  style="max-width: 2000px;">
                             <div class="row no-gutters text-right">
                             
                               <div class="col-md-8">
                                 <div class="card-body">
                                   <h5 class="card-title">أيات حسام الدين </h5>
                                   <p class="card-text">هذا كرسي رائع يمكنك الجلوس عليه او الوقوف ولونه جذاب ومريح للعين اعرضه مجانا لاي حد سوف يحافظ عليه </p>
                                   <p class="card-text"><small class="text-muted">تم النشربتاريخ 20/2/2020</small></p>
                                 </div>
                               </div>
                               <div class="col-md-4" style="background-color: rgba(238, 247, 247, 0.575);">
                                 <img src="/assets/main_chair.png" class="card-img" width="100px" height="300px" alt="...">
                               </div>
                             </div>
                           </div>
                         </div>
                       </div>

                      <!--End Indx-->
                     </div>
                     <div class="modal-footer">
                       <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
                       <button type="button" class="btn btn-primary">اطلبه الان</button>
                     </div>
                   </div>
                 </div>
               </div>
             
           </div>
         </div>
        </div>
        <div class="col-md-3">
         <div class="shadow-lg p-3 mb-5 bg-white rounded" style="width: 15rem;">
           <div style="background-color: #f7cff6;">
             <img src="/assets/main_chair.png" width="100px" height="280px"class="card-img-top" alt="...">
           </div>
           <div class="card-body text-center" >
             <h5 class="card-title">كرسي جميل باربع ارجل</h5>
             <p class="card-text">15 $</p>
            
               <!-- Button trigger modal -->
               <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                 التفاصيل
               </button>
               
               <!-- Modal -->
               <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                 <div class="modal-dialog" role="document">
                   <div class="modal-content ">
                     <div class="modal-header text-center">
                       <h5 class="modal-title " id="exampleModalLabel">كرسي جميل باربعه ارجل</h5>
                      
                     </div>
                     <div class="modal-body">
                       <!--Start Indx-->
                       <div class="container">
                         <div class="row" >
                           <div  style="max-width: 2000px;">
                             <div class="row no-gutters text-right">
                             
                               <div class="col-md-8">
                                 <div class="card-body">
                                   <h5 class="card-title">أيات حسام الدين </h5>
                                   <p class="card-text">هذا كرسي رائع يمكنك الجلوس عليه او الوقوف ولونه جذاب ومريح للعين اعرضه مجانا لاي حد سوف يحافظ عليه </p>
                                   <p class="card-text"><small class="text-muted">تم النشربتاريخ 20/2/2020</small></p>
                                 </div>
                               </div>
                               <div class="col-md-4" style="background-color: rgba(238, 247, 247, 0.575);">
                                 <img src="/assets/main_chair.png" class="card-img" width="100px" height="300px" alt="...">
                               </div>
                             </div>
                           </div>
                         </div>
                       </div>

                      <!--End Indx-->
                     </div>
                     <div class="modal-footer">
                       <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
                       <button type="button" class="btn btn-primary">اطلبه الان</button>
                     </div>
                   </div>
                 </div>
               </div>
             
           </div>
         </div>
        </div>
      </div>
    </div>
    <!--End Assets-->



    <script>
       $(document).ready(function(){
         $("#myInput").on("keyup", function() {
           var value = $(this).val().toLowerCase();
           $("#myList li").filter(function() {
             $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
           });
         });
       });
       </script>
</body>
</html>